/* phone.css */

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  color: white;
}

h1 {
  padding: 10px 20px;
  border: solid 4px white;
  color: white;
  font-family: monospace;
}

#a {
   display: block;
   width: 100px;
   height: 100px;
   background-color: white;
   position: absolute;
}
